
.headComponent  {
    background-color: black;
    border-radius: 0 0 10px 10px;
}

.flexCardHead { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 12px;
}

.flexCardHead > .profileData > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flexCardHead > .profileData > h1 {
    margin-left: 10px;
}
