.headComponent  {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
}

.flexCardHead { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px 10 14px;
}

.profileData {
    display: flex;
}

.profileData > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flexCardHead > .profileData > h2 {
    font-size: 20px;
    margin-left: 20px;
}
