.center{
    margin-top: 40px;
    font-size: 30px;
}

.coinImageClicker {
    width: 310px;
    height: 310px;
    text-align: center;
    margin: 0 auto;
}

.coinImageClicker > a > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}