.center{
    margin-top: 40px;
    font-size: 30px;
}

.coinImageClicker {
    width: 310px;
    height: 310px;
    text-align: center;
    margin: 0 auto;
}

.coinImageClicker > button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.btnCoinCounter{
    background-image: url('https://www.turkicstates.org/assets/vendor/kcfinder/upload/images/turkkon-logo(1).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}