body {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

#root {
    margin: 0;
    padding: 0;
    background-color: #18122B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: center;
}